
<div *ngIf="resourceData" class="container-fluid p-5 style-font">
    <div class="d-flex justify-content-between">

        <div class="d-flex ajust-items-center text-center ">
            <h4>
                <span class="me-2 button-cursor">
                    <i  class="fa-solid fa-chevron-left button-cursor  color-green-2" [routerLink]="'/contas'"></i>

                </span>
                <span>
                    <img class="icon" src="./assets/icons_user/{{resourceData.nome_icone}}" (error)="resourceData.nome_icone = '5_wallet.svg'" alt="">

                </span>
                <span>  Conta </span>

                <strong>{{resourceData.nome}}</strong>
               
            </h4>
         

        </div>
        

    </div>
    <div class="d-flex  justify-content-evenly flex-wrap">

        <div *ngIf="valueTotalIncome"  class="card-info my-4">

            <div class="color-green-2 pb-1">
                {{this.dateMonth}}


            </div>

            

            <div class="color-light-3 pb-2">
                Totais
            </div>

            <div class="d-flex justify-content-between">
                
                <span class="color-black-1">Saldo da conta: </span>
                <!-- <span [ngClass]="(resourceData.saldo || 0) <=0 ? 'text-danger' :'text-success'">R$ {{resourceData.saldo | formatPrice}}</span> -->
                <span class="color-light-1">R$ {{resourceData.saldo | formatPrice}}</span> 

            </div>

            <div class="d-flex justify-content-between">
                
                <span class="color-black-1">Receitas: </span>
                <span class="color-light-1">R$ {{valueTotalIncome | formatPrice}}</span>

            </div>
            <div class="d-flex justify-content-between">

                <span class="color-black-1">Despesas: </span>
                <span class="color-light-1">R$ {{valueTotalExpense | formatPrice}}</span>

            </div>


            <div class="color-light-3 pb-2">
                Transferências
            </div>

            <div class="d-flex justify-content-between">

                <span class="color-black-1">Recebidas: </span>
                <span class="text-success">R$ {{valueTotalTransferReceived | formatPrice}}</span>

            </div>

            <div class="d-flex justify-content-between">

                <span class="color-black-1"> Enviadas: </span>
                <span class="text-danger">R$ {{valueTotalTransferSend | formatPrice}}</span>

            </div>

            
    

            <div class="color-light-3 py-2">
                Consolidado
            </div>


            <div  class="d-flex justify-content-between">
                <span class="color-black-1">Receitas: </span>
                <span class="text-success">R$ {{valueConsolidatedIncome | formatPrice}}</span>

            </div>

            <div class="d-flex justify-content-between">
                <span class="color-black-1">Despesas: </span>
                <span class="text-success">R$ {{valueConsolidatedExpense | formatPrice}}</span>

            </div>

        

            <div class="color-light-3 py-2">
                A Receber / A pagar
            </div>


            <div class="d-flex justify-content-between">
                <span class="color-black-1">A receber: </span>
                <span class="text-danger">R$ {{valueTotalIncome - (valueConsolidatedIncome) | formatPrice}}</span>

            </div>

            <div class="d-flex justify-content-between">
                <span class="color-black-1">A pagar: </span>
                <span class="text-danger">R$ {{ valueConsolidatedExpense - valueConsolidatedExpense | formatPrice}}</span>

            </div>

          

        </div>

        <div>
            <app-transaction-list 
            [type]="'account'" [id_type]="id"
            (itemStatement)="addStatement($event)"
            (valueConsolidatedExpense)="valueConsolidatedExpense = $event"
            (valueConsolidatedIncome)="valueConsolidatedIncome = $event"
            (valueTotalIncome)="valueTotalIncome = $event"
            (valueTotalExpense)="valueTotalExpense = $event"
            (valueTotalTransferReceived)="valueTotalTransferReceived = $event"
            (valueTotalTransferSend)="valueTotalTransferSend = $event"
            >
            </app-transaction-list>
        </div>
        
    </div>
</div>

