
<div *ngIf="resourceData" class="container-fluid p-5 style-font">
    <div class="d-flex justify-content-between">
    
        <h4>
            <button 
                type="button" 
                class="btn btn-link p-0 me-2" 
                [routerLink]="'/membros-da-familia'"
                aria-label="Voltar para membros da família">
                <i class="fa-solid fa-chevron-left color-green-2"></i>
            </button>
         
            <span>  Membro da Família  </span>

            <strong>{{resourceData.nome}}
                <span *ngIf="resourceData.nome == nameUser" class="color-green-2">(Eu) </span>
            </strong>
           
        </h4>

    </div>


    <div class="d-flex  justify-content-evenly flex-wrap">

        <div *ngIf="itemStatement != null || itemStatement!= undefined"  class="card-info my-4">

            <div class="color-green-2 pb-1">
                {{this.dateMonth}}


            </div>

            <div class="color-light-3 pb-2">
                Totais
            </div>


            <div *ngIf="resourceData.nome == nameUser" class="d-flex justify-content-between">
                
                <span class="color-black-1">Receitas: </span>
                <span class="color-light-1">R$ {{valueTotalIncome | formatPrice}}</span>

            </div>
            <div class="d-flex justify-content-between">

                <span class="color-black-1">Despesas: </span>
                <span class="color-light-1">R$ {{valueTotalExpense | formatPrice}}</span>

            </div>

            <div class="d-flex justify-content-between">
                <span class="color-black-1">Despesas do membro: </span>
                <span class="color-light-1">R$ {{valuetotalMemberExpense | formatPrice}}</span>

            </div>

            <div class="color-light-3 py-2">
                Consolidado
            </div>


            <div *ngIf="resourceData.nome == nameUser" class="d-flex justify-content-between">
                <span class="color-black-1">Receitas: </span>
                <span class="text-success">R$ {{valueConsolidatedIncome | formatPrice}}</span>

            </div>

            <div class="d-flex justify-content-between">
                <span class="color-black-1">Despesas: </span>
                <span class="text-success">R$ {{valueConsolidatedExpense | formatPrice}}</span>

            </div>

            <div class="d-flex justify-content-between">
                <span class="color-black-1">Despesas do membro: </span>
                <span class="text-success">R$ {{valueTotalTotalConsolidatedMemberExpense | formatPrice}}</span>

            </div>

            <div *ngIf="resourceData.nome == nameUser" class="d-flex justify-content-between">
                <span class="color-black-1">Fatura paga: </span>
                <span class="text-success">R$ {{valueTotalStatementConsolidated | formatPrice}}</span>

            </div>


            <div class="color-light-3 py-2">
                A pagar
            </div>


            <div class="d-flex justify-content-between">
                <span class="color-black-1">A pagar: </span>
                <span class="text-danger">R$ {{valueTotalExpense - (valueConsolidatedExpense) | formatPrice}}</span>

            </div>

            <div class="d-flex justify-content-between">
                <span class="color-black-1">A pagar membro: </span>
                <span class="text-danger">R$ {{ valuetotalMemberExpense - valueTotalTotalConsolidatedMemberExpense | formatPrice}}</span>

            </div>

            <div class="py-3">
              
                <button type="button" 
                        (click)="openSendEmail()"
                        class="btn btn-outline-secondary f-16">
                    {{resourceData.nome !== nameUser ? 'Cobrar ' + resourceData.nome : 'Enviar meus gastos'}}
                </button>
            </div>
            

        </div>

        <div>
            <app-transaction-list 
            [type]="'member'" [id_type]="id"
            (itemStatement)="addStatement($event)"
            (valueConsolidatedExpense)="valueConsolidatedExpense = $event"
            (valueConsolidatedIncome)="valueConsolidatedIncome = $event"

            (valuetotalMemberExpense)="valuetotalMemberExpense = $event"
            (valueTotalTotalConsolidatedMemberExpense)="valueTotalTotalConsolidatedMemberExpense = $event"
            (valueTotalIncome)="valueTotalIncome = $event"
            (valueTotalExpense)="valueTotalExpense = $event"
            (valueTotalStatementConsolidated)="valueTotalStatementConsolidated = $event">
            </app-transaction-list>
        </div>
        
    </div>
</div>

<app-modal #modal_small [modalConfig]="modalConfig">
    <div modal-generic-content-small class="pt-3" *ngIf="openModalSendEmail">
        <span class="color-light-1">
            <p class="text-center">
                <ng-container *ngIf="!resourceData.email; else checkMovements">
                    <span class="text-center d-flex align-items-center justify-content-center">
                        O parente {{resourceData.nome}} não possui um e-mail cadastrado. Não é possível enviar a cobrança.
                    </span>
                </ng-container>
                <ng-template #checkMovements>
                    <ng-container *ngIf="valuetotalMemberExpense - valueTotalTotalConsolidatedMemberExpense == 0; else sendEmailOption">
                        <span class="text-center d-flex align-items-center justify-content-center">
                            O parente {{resourceData.nome}} não possui movimentações não consolidadas. Não é possível enviar a cobrança.
                        </span>
                    </ng-container>
                    <ng-template #sendEmailOption>
                        <span class="text-center d-flex align-items-center justify-content-center">
                            {{resourceData.nome == nameUser ? 'Deseja enviar um e-mail a si mesmo?' : 'Deseja enviar um e-mail de cobrança para ' + resourceData.nome + '?'}}
                        </span>
                    </ng-template>
                </ng-template>
            </p>
        </span>

        <div class="d-flex justify-content-evenly mt-4">
            <button type="button" class="btn btn-outline-secondary f-16" (click)="modalSmall.dismiss()" *ngIf="!(resourceData.email && valuetotalMemberExpense - valueTotalTotalConsolidatedMemberExpense !== 0)">Cancelar</button>
            <button type="button" class="btn btn-green f-16" (click)="sendEmail()" *ngIf="resourceData.email && valuetotalMemberExpense - valueTotalTotalConsolidatedMemberExpense !== 0">Enviar e-mail</button>
            <button type="button" class="btn btn-outline-secondary f-16" (click)="cobrancaPdf()" *ngIf="valuetotalMemberExpense - valueTotalTotalConsolidatedMemberExpense !== 0">Gerar PDF</button>
        </div>
    </div>
</app-modal>

