<div class="f-20 color-black-1"> Orçamento mensal</div>
<div class="f-14 color-light-1">
  <span>Orçamento total: R$ {{mothBudgetTotal | formatPrice}}</span>
  <span class="ms-3 pt-1">Despesa total mensal: R$ {{expenseTotal | formatPrice}}</span>

</div>

@if(mothBudgetTotal != 0){
  <div id="chart">
    <apx-chart
      [series]="chartOptions.series"
      [chart]="chartOptions.chart"
      [dataLabels]="chartOptions.dataLabels"
      [plotOptions]="chartOptions.plotOptions"
      [yaxis]="chartOptions.yaxis"
      [legend]="chartOptions.legend"
      [fill]="chartOptions.fill"
      [stroke]="chartOptions.stroke"
      [tooltip]="chartOptions.tooltip"
      [xaxis]="chartOptions.xaxis"
    ></apx-chart>
</div>

}@else {
  <div class="f-14 color-light-1 py-5 text-center">
    <div>Não foi cadastrado nenhuma meta de gastos por categoria. </div>  
    <div> 
      <a [routerLink]="'/configuracoes-de-usuario/categorias/'">Edite</a>
      
       uma categoria para adicionar uma meta nova.

    </div>
  </div>
}

