
$color-green-1: #80DB44;
$color-green-2: #44DB7A;
$color-green-3: #28DB2D;
$color-green-4: #0BFA9F;
$color-green-5: #89E48F;

$color-white-1: #FFFFFF;
$color-black-1: #14231D;

$color-light-1: #57687F;

$color-light-2:#f3f3f4