<!-- Transferencia -->
<ng-container *ngIf="openModalTransfer">
  <form [formGroup]="resourceFormTransfer" (submit)="editId == null ? addTransationTransfer(true) : editTransation()">
      <div class="form-group mb-2">
          <label class="f-16" for="valor_tranferencia">Valor da transferência<b> * </b></label>
          <input type="number" class="form-control" id="valor_tranferencia" formControlName="valor" placeholder="Digite o valor da transferência">
          <app-form-field-error [control]="resourceFormTransfer.get('nome')"></app-form-field-error>
      </div>

      <div class="form-group mb-2">
          <label  class="f-16" for="descricao">Descrição</label>
          <input type="text" class="form-control" id="descricao" formControlName="descricao" placeholder="Informe a descrição da movimentação">
          <app-form-field-error [control]="resourceFormTransfer.get('descricao')"></app-form-field-error>
      </div>

      <div class="mb-2 custom-dropdown">
                  

          <label class="f-16 d-flex align-items-center" for="id_carteira">
              <mat-icon class="color-light-1 me-1" >account_balance</mat-icon>Conta atual <b> * </b>
          </label> 
          <div class="form-select" 
          type="button" 
          id="dropdownContaAtualButton" 
          data-bs-toggle="dropdown" 
          aria-expanded="false">
            <img *ngIf="selectedAccontCurrentIcon" [src]="'./assets/icons_user/' + selectedAccontCurrentIcon" alt="Ícone" style="width: 20px; margin-right: 8px;">
            @if(resourceFormTransfer.get('id_conta_atual')?.value && selectedAccontCurrentName){
              {{ selectedAccontCurrentName}}
            }@else{
              {{"Selecione uma opção"}}
            }
          </div>
          <div class="dropdown-menu dropdown-options" aria-labelledby="dropdownContaAtualButton" style="width: 100%;">
            <div class="dropdown-option" *ngFor="let item of account" (click)="selectAccountCurrent(item)">
              <img [src]="'./assets/icons_user/' + item.nome_icone" alt="{{item.nome}}" style="width: 20px; margin-right: 8px;">
              {{ item.nome }}
            </div>
          </div>
          <app-form-field-error [control]="resourceFormTransfer.get('id_conta_atual')"></app-form-field-error>

      </div>


      <div class="mb-2 custom-dropdown">
                  

          <label class="f-16 d-flex align-items-center" for="id_carteira">
              <mat-icon class="color-light-1 me-1" >account_balance</mat-icon>Conta destino <b> * </b>
          </label> 
          <div class="form-select" 
          type="button" 
          id="dropdownContaTransferenciaButton" 
          data-bs-toggle="dropdown" 
          aria-expanded="false">
            <img *ngIf="selectedAccontTransferIcon" [src]="'./assets/icons_user/' + selectedAccontTransferIcon" alt="Ícone" style="width: 20px; margin-right: 8px;">
            @if(resourceFormTransfer.get('id_conta_transferencia')?.value && selectedAccontTransferName){
              {{ selectedAccontTransferName}}
            }@else{
              {{"Selecione uma opção"}}
            }
          </div>
          <div class="dropdown-menu dropdown-options" aria-labelledby="dropdownContaTransferenciaButton" style="width: 100%;">
            <div class="dropdown-option" *ngFor="let item of account" (click)="selectAccountTransfer(item)">
              <img [src]="'./assets/icons_user/' + item.nome_icone" alt="{{item.nome}}" style="width: 20px; margin-right: 8px;">
              {{ item.nome }}
            </div>
          </div>
          <p class="text-danger"
          *ngIf="checkIfAccountTransf()"
          > Conta atual não pode ser igual a conta destino</p>
          <app-form-field-error [control]="resourceFormTransfer.get('id_conta_transferencia')"></app-form-field-error>
          
      </div>

      <div class="d-flex justify-content-center">
          <button type="submit" [disabled]="this.resourceFormTransfer.invalid
          || checkIfAccountTransf()" class=" btn btn-green btn-block btn-lg f-16" >Salvar</button>

      </div>

      <div *ngIf="!this.resourceFormTransfer.invalid" class="d-flex justify-content-center">
          <a class="pt-1 f-16 button-cursor" (click)="addTransationTransfer(false)">Salvar e criar novo</a>

      </div>

  </form>
</ng-container>


<ng-container *ngIf="openModalExpense || openModalIncome">
<form [formGroup]="resourceFormIncomeExpense" (submit)="submitIncomeExpense()">

  <div class="row">
      <div class="form-group mb-2 col-md-6 col-sm-12">
          <label class="f-16" for="valor">
            {{(editId != null || editId != undefined) && resourceFormIncomeExpense.get('condicao_pagamento')?.value == enumCondicaoPagamento.PARCELADO ? 'Valor da Parcela' : 'Valor'}}
            <b> * </b></label>
          <input type="number" class="form-control" id="valor" formControlName="valor" [placeholder]=" openModalExpense ? 'Digite o valor da despesa': 'Digite o valor da receita' ">
          <app-form-field-error [control]="resourceFormIncomeExpense.get('valor')"></app-form-field-error>
      </div>

      <div class="form-group mb-2 col-md-6 col-sm-12">
          <label  class="f-16" for="descricao">Descrição</label>
          <input type="text" class="form-control" id="descricao" formControlName="descricao" placeholder="Descrição da movimentação">
          <app-form-field-error [control]="resourceFormIncomeExpense.get('descricao')"></app-form-field-error>
      </div>


       <div class="mb-2 custom-dropdown col-md-6 col-sm-12">
        <label class="f-16" for="id_categoria">Categoria <b> * </b></label>
        <div 
          class="form-select" 
          type="button" 
          id="dropdownCategoryButton" 
          data-bs-toggle="dropdown" 
          aria-expanded="false"
          >
          <img *ngIf="resourceFormIncomeExpense.get('id_categoria')?.value && selectedCategoryIcon" [src]="'./assets/icones_category/' + selectedCategoryIcon" alt="Ícone da categoria" style="width: 20px; margin-right: 8px;">

          @if(resourceFormIncomeExpense.get('id_categoria')?.value && selectedCategoryName){
            {{ selectedCategoryName}}
          }@else{
            {{"Selecione uma opção"}}
          }
        </div>
        <div *ngIf="(openModalExpense && categoryExpense.length != 0) || (openModalIncome && categoryIncome.length != 0)" 
        class="dropdown-menu dropdown-options" aria-labelledby="dropdownCategoryButton">
          <ng-container *ngIf="openModalExpense; else incomeCategory">
            <div *ngFor="let item of categoryExpense">
              <div class="dropdown-option"(click)="selectCategory(item)" >
                <img [src]="'./assets/icones_category/' + item.nome_icone" alt="{{item.nome}}" style="width: 20px; margin-right: 8px;">
                {{ item.nome }}
              </div>
            </div>
          </ng-container>
          <ng-template #incomeCategory>
            <div *ngFor="let item of categoryIncome">
              <div class="dropdown-option" (click)="selectCategory(item)">
                <img [src]="'./assets/icones_category/' + item.nome_icone" alt="{{item.nome}}" style="width: 20px; margin-right: 8px;">
                {{ item.nome }}
              </div>
            </div>
          </ng-template>
        </div>
        <p *ngIf="(openModalExpense && categoryExpense.length == 0) || (openModalIncome && categoryIncome.length == 0)" class="text-danger">
          Você não tem categorias. 
          <a href="/configuracoes-de-usuario/categorias">Cadastre uma</a> 
        </p>
        <app-form-field-error [control]="resourceFormIncomeExpense.get('id_categoria')"></app-form-field-error>
      </div>
      

      <div class="form-group mb-2 col-md-6 col-sm-12">
          <label class="f-16" for="forma_pagamento">Forma de Pagamento<b> * </b></label>
          <select class="form-select f-16" formControlName="forma_pagamento" id="forma_pagamento" (change)="cleanSelected()">
              <option [ngValue]="null" disabled [selected]="true">Selecione uma opção</option >
              <ng-container *ngIf="openModalExpense; else income">  
                  <option *ngFor="let item of Object.values(enumFormaPagamento)" [value]="item" >{{item}}</option>
              </ng-container>
              <ng-template #income>
                  <option *ngFor="let item of filteredformaPagamento" [value]="item" >{{item}}</option>
              </ng-template>
              

          </select>                    
          <app-form-field-error [control]="resourceFormIncomeExpense.get('forma_pagamento')"></app-form-field-error>
      </div>
     

      <!-- Credito -->
      <div *ngIf="resourceFormIncomeExpense.get('forma_pagamento')?.value === enumFormaPagamento.CREDITO" 
      class="mb-2 custom-dropdown col-md-6 col-sm-12">
          <label class="f-16 d-flex align-items-center" for="id_credito">
                 <mat-icon class="color-light-1 me-1" >credit_card</mat-icon>Cartão de Crédito <b> * </b>
          </label>
          <div 
          class="form-select"
          id="dropdownCreditoButton" 
          data-bs-toggle="dropdown" 
          aria-expanded="false"
          tabindex ="0">
            <img *ngIf="resourceFormIncomeExpense.get('id_financeiro')?.value && selectedPaymentIcon" 
            [src]="'./assets/icons_user/' + selectedPaymentIcon" alt="Ícone" style="width: 20px; margin-right: 8px;">
            @if(resourceFormIncomeExpense.get('id_financeiro')?.value && selectedPaymentName){
              {{ selectedPaymentName}}
            }@else{
              {{"Selecione uma opção"}}
            }
          </div>
          <div *ngIf="creditCard.length != 0" class="dropdown-menu dropdown-options" aria-labelledby="dropdownCreditoButton">
            <div class="dropdown-option" *ngFor="let item of creditCard" (click)="selectPayment(item, enumFormaPagamento.CREDITO)">
              <img [src]="'./assets/icons_user/' + item.nome_icone" alt="{{item.nome}}" style="width: 20px; margin-right: 8px;">
              {{ item.nome }}
            </div>
          </div>
          <p *ngIf="creditCard.length == 0" class="text-danger">
            Você não tem cartões de crédito. 
            <a href="/cartao-de-credito">Cadastre um</a> 
          </p>
          <app-form-field-error [control]="resourceFormIncomeExpense.get('id_financeiro')"></app-form-field-error>

      </div>



      <!-- Dinheiro -->
      <div *ngIf="resourceFormIncomeExpense.get('forma_pagamento')?.value === enumFormaPagamento.DINHEIRO" 
      class="mb-2 custom-dropdown col-md-6 col-sm-12">
          <label class="f-16 d-flex align-items-center" for="id_carteira">
              <mat-icon class="color-light-1 me-1" >account_balance</mat-icon>Conta Carteira <b> * </b>

          </label>
          <div 
          class="form-select"
          id="dropdownDinheiroButton" 
          data-bs-toggle="dropdown" 
          aria-expanded="false"
          tabindex ="0"
          >
            <img *ngIf="resourceFormIncomeExpense.get('id_financeiro')?.value && selectedPaymentIcon" [src]="'./assets/icons_user/' + selectedPaymentIcon" alt="Ícone" style="width: 20px; margin-right: 8px;">
            @if(resourceFormIncomeExpense.get('id_financeiro')?.value && selectedPaymentName){
              {{ selectedPaymentName}}
            }@else{
              {{"Selecione uma opção"}}
            }
            
          </div>
          <div class="dropdown-menu dropdown-options" aria-labelledby="dropdownDinheiroButton">
            <div class="dropdown-option" *ngFor="let item of accountDinheiro" (click)="selectPayment(item, enumFormaPagamento.DINHEIRO)">
              <img [src]="'./assets/icons_user/' + item.nome_icone" alt="{{item.nome}}" style="width: 20px; margin-right: 8px;">
              {{ item.nome }}
            </div>
          </div>
          <app-form-field-error [control]="resourceFormIncomeExpense.get('id_financeiro')"></app-form-field-error>

      </div>


      <!-- Débito -->

      <div *ngIf="resourceFormIncomeExpense.get('forma_pagamento')?.value === enumFormaPagamento.DEBITO"  
      class="mb-2 custom-dropdown col-md-6 col-sm-12">
                  

          <label class="f-16 d-flex align-items-center" for="id_carteira">
              <mat-icon class="color-light-1 me-1" >account_balance</mat-icon>Conta Débito <b> * </b>
          </label> 
          <div class="form-select" 
          class="form-select"
          id="dropdownDebitoButton" 
          data-bs-toggle="dropdown" 
          aria-expanded="false"
          tabindex ="0">
            <img *ngIf="resourceFormIncomeExpense.get('id_financeiro')?.value && selectedPaymentIcon" [src]="'./assets/icons_user/' + selectedPaymentIcon" alt="Ícone" style="width: 20px; margin-right: 8px;">
            @if(resourceFormIncomeExpense.get('id_financeiro')?.value && selectedPaymentName){
              {{ selectedPaymentName}}
            }@else{
              {{"Selecione uma opção"}}
            }
          </div>
          <div *ngIf="accountDebito.length != 0" class="dropdown-menu dropdown-options" aria-labelledby="dropdownDebitoButton">
            <div class="dropdown-option" *ngFor="let item of accountDebito" (click)="selectPayment(item, enumFormaPagamento.DEBITO)">
              <img [src]="'./assets/icons_user/' + item.nome_icone" alt="{{item.nome}}" style="width: 20px; margin-right: 8px;">
              {{ item.nome }}
            </div>
          </div>
          <p *ngIf="accountDebito.length == 0" class="text-danger">
            Você não tem contas de débito. 
            <a href="/contas">Cadastre uma</a> 
          </p>
          <app-form-field-error [control]="resourceFormIncomeExpense.get('id_financeiro')"></app-form-field-error>

      </div>


      <div class="form-group mb-2 col-md-6 col-sm-6">
          <label class="f-16" for="condicao_pagamento">Condição de Pagamento<b> * </b></label>
          <select class="form-select f-16" formControlName="condicao_pagamento" id="condicao_pagamento">
              <option [ngValue]="null" disabled [selected]="true">Selecione uma opção</option>
              <ng-container *ngIf="openModalExpense; else incomeCondicao">  
                  <option *ngFor="let item of Object.values(enumCondicaoPagamento)" [value]="item">{{item}}</option>
              </ng-container>
              <ng-template #incomeCondicao>
                  <option *ngFor="let item of filteredCondicaoPagamento" [value]="item" >{{item}}</option>
              </ng-template>
          </select>                    
          <app-form-field-error [control]="resourceFormIncomeExpense.get('condicao_pagamento')"></app-form-field-error>
      </div>


      <div *ngIf="resourceFormIncomeExpense.get('condicao_pagamento')?.value == enumCondicaoPagamento.PARCELADO" class="form-group mb-2 col-md-6 col-sm-12">
          <label class="f-16" for="quantidade_parcelas">Quantidade de parcelas<b> * </b></label>
          <input type="number" class="form-control" id="quantidade_parcelas" formControlName="quantidade_parcelas" placeholder="Digite a quantidade de parcelas">
          <small *ngIf="editId == null" class="text-muted">
            O valor inserido será dividido pelo número de parcelas
          </small>
          <app-form-field-error [control]="resourceFormIncomeExpense.get('quantidade_parcelas')"></app-form-field-error>
        
        </div>

     

      <div *ngIf="resourceFormIncomeExpense.get('condicao_pagamento')?.value == enumCondicaoPagamento.RECORRENTE" class="form-group mb-2 col-md-6 col-sm-6">
          <label class="f-16" for="tipo_recorrencia">Tipo de Recorrência<b> * </b></label>
          <select class="form-select f-16" formControlName="tipo_recorrencia" id="tipo_recorrencia">
              <option [ngValue]="null" disabled [selected]="true">Selecione uma opção</option>
              <option *ngFor="let item of Object.values(enumTipoRecorrencia)" [value]="item">{{item}}</option>

          </select>                    
          <app-form-field-error [control]="resourceFormIncomeExpense.get('condicao_pagamento')"></app-form-field-error>
      </div>

      <ng-container *ngIf="resourceFormIncomeExpense.get('forma_pagamento')?.value !== null">
          <div class="form-group mb-2 col-md-6 col-sm-6">
              <label  class="f-16" for="data_pagamento">Data de Pagamento <b> * </b></label>
              <input type="date" class="form-control" id="data_pagamento" formControlName="data_pagamento" >
              <app-form-field-error [control]="resourceFormIncomeExpense.get('data_pagamento')">
                  <span *ngIf="resourceFormIncomeExpense.get('data_pagamento')?.invalid && resourceFormIncomeExpense.get('data_pagamento')?.touched">. A data é inválida
                  </span>
              </app-form-field-error>
          </div>

          <div *ngIf=" resourceFormIncomeExpense.get('forma_pagamento')?.value !== enumFormaPagamento.CREDITO" 
           class="form-group mb-2 col-md-6 col-sm-6 d-flex align-items-center justify-content-center">
              <label  class="f-16" for="data_pagamento">Consolidado</label>
              <div class="mx-2 button-cursor"  (click)="changeConsolidado()">
                  <i class="button-cursor f-22"
                  [ngClass]="resourceFormIncomeExpense.get('consolidado')?.value == true ? 'color-green-4 fa-solid fa-circle-check': 'color-light-3 fa-regular fa-circle-check'"></i>

              </div>
              
          </div>

          <ng-container *ngIf="openModalExpense">
              <div class="form-group mb-2 col-md-6 col-sm-12">
                  <label class="f-16 d-flex align-items-center" for="quantity_member">
                      <mat-icon class="color-light-1 me-1" >groups</mat-icon> Qtd. de Membros <b> * </b>
                  </label> 

                  <select class="form-select f-16" formControlName="quantity_member" id="quantity_member" (change)="createMember()">
                      <option [ngValue]="null" disabled [selected]="true">Selecione uma opção</option >
                      <option *ngFor="let item of quantityMember" [value]="item">{{item}}</option>
  
                  </select>                    
                  <app-form-field-error [control]="resourceFormIncomeExpense.get('quantity_member')"></app-form-field-error>

              </div>

              <div formArrayName="divide_parente">
                  <div *ngFor="let item of divideMember.controls; let i = index" [formGroupName]="i" class="row">

                      <div class="form-group mb-2 col-md-6 col-sm-12">
                          <label class="f-16 d-flex align-items-center" for="id_parente-{{i}}">
                              <mat-icon class="color-light-1 me-1" >groups</mat-icon> Nome do membro <b> * </b>
                          </label> 

                          <select class="form-select f-16" formControlName="id_parente" id="id_parente-{{i}}"  >
                              <option [ngValue]="null" disabled [selected]="true">Selecione uma opção</option >
                              <option *ngFor="let item of member" [value]="item.id_parente">{{item.nome}}</option>
          
                          </select>                    
                          <app-form-field-error [control]="resourceFormIncomeExpense.get('quantity_member')"></app-form-field-error>
                      </div>
          

                      <div class="form-group mb-2 col-md-6 col-sm-12">
                          <label class="f-16" for="valor-{{i}}">Valor<b> * </b></label>
                          <input type="number" class="form-control" id="valor-{{i}}" formControlName="valor_parente" placeholder="Digite o valor da despesa">
                          <app-form-field-error [control]="resourceFormIncomeExpense.get('valor_parente')"></app-form-field-error>
                      </div>

                  </div>
              </div>

              <p *ngIf="this.resourceFormIncomeExpense.hasError('invalidSum') " class="text-danger">O valor total dos membros deve ser igual ao da movimentação </p>
              <p *ngIf="this.resourceFormIncomeExpense.hasError('duplicateId')" class="text-danger">Os membros devem ser diferentes </p>

          </ng-container>
          

          
  
      </ng-container>

     

      
        
  </div>

  <div class="d-flex justify-content-center">
  
    <button type="submit" [disabled]="this.resourceFormIncomeExpense.invalid " class=" btn btn-green btn-block btn-lg f-16">
        Salvar
    </button>


  </div>


  <div *ngIf="!this.resourceFormIncomeExpense.invalid && editId == null" class="d-flex justify-content-center">
      <a class="pt-1 f-16 button-cursor" (click)="openModalExpense? addTransationExpense(false) : addTransationIncome(false)">Salvar e criar novo</a>

  </div>



</form>
</ng-container>
