<div class="container-fluid p-5 style-font">
    <div class="d-flex justify-content-between">
        <h4>Categorias e Meta de Gastos</h4>

        <button type="button" class="btn btn btn-outline-success d-flex align-items-center text-center f-16 "
        (click)="openAddModal()">
            <i class="fa-solid fa-plus f-16 mx-2 "></i> 
            
            <span class="display-none">Adicionar novo categoria</span>
        </button>

    </div>

    <div class="container mt-5">
    
        <div class="menu f-16">
            <div class="menu-item text-center" (click)="changeModelCategory(true)"
            [ngClass]="income ? 'active': ''">
                <h5>Receita</h5>
                <div *ngIf="income" class="underline"></div>

            </div>
            <div class="menu-item" (click)="changeModelCategory(false)"
            [ngClass]="!income ? 'active': ''">
                <h5>Despesa</h5>
                <div *ngIf="!income" class="underline"></div>

            </div>
        </div>

    </div>



    <div class="container mt-5 container-custom">

       

        <ng-container *ngFor="let item of resources; let i = index;"> 
            <div class="item">
                <div class="d-flex justify-content-between align-items-center">


                    <div class="d-flex justify-content-start align-items-center col-md-4">
                        <img class="icon-min" src="./assets/icones_category/{{item.nome_icone}}" (error)="item.nome_icone = 'book.svg'" alt="">
                        <div class="margin-l-min color-black-1 f-16 ">{{item.nome}}</div>

                    </div>

                    <div class="color-black-1 col-md-3 display-none">
                        <div class="display-none  f-16"> Status &nbsp; </div>
                       <div class="color-light-1 f-16">{{item.ativo? 'Ativa': 'Desativada'}}</div>
                    </div>

                    
                    <div class="color-black-1 col-md-2"> 
                        <div class="display-none f-16"> Tipo&nbsp;</div>
                        <div class="color-light-1 f-16">{{item.tipo_categoria }}</div>
                    </div>

                    <div *ngIf="item.modelo_categoria == 'Despesa'" class="display-none color-black-1 col-md-3"> 
                        <div class="f-16"> Meta de gastos: &nbsp; </div>
                        <div class="color-light-1 f-16">{{(item.valor_categoria | formatPrice) || 'Não definido'}}</div>
                    </div>
                   
                    <div class="btn-group f-16">
                        <i class="menu-icon fa-solid fa-ellipsis-vertical button-cursor"  data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
                        <div class="dropdown-menu" id="dropdownMenu">
                            <a *ngIf="item.nome !== 'Carteira'"  class="dropdown-item button-cursor color-green-2" (click)="deleteResource(item.id_categoria)"> <i class="fa-solid fa-trash"></i> Excluir</a>
                            <a class="dropdown-item button-cursor color-green-2" (click)="deactivateResourceCategory(item)"> <i class="fa-regular fa-rectangle-xmark"></i>
                                {{item.ativo ? 'Desativar': 'Ativar'}}
                            </a>
                            <div *ngIf="item.nome !== 'Carteira'" class="dropdown-divider"></div>
                            <a *ngIf="item.nome !== 'Carteira'" class="dropdown-item button-cursor color-green-2" (click)="openEdit(item)" ><i class="fa-solid fa-pen-to-square" ></i> Editar</a>
                        </div>
                    </div>
                </div>

                <div *ngIf="item.modelo_categoria == 'Despesa'"  class=" display-none-desktop d-flex justify-content-start align-items-center mt-2 ">
                    <div class="display-none-desktop color-black-1 col-md-12 ">
                        <span class="display-none-desktop f-16"> Meta de gastos: &nbsp; </span>
                       <span class="display-none-desktop color-light-1 f-16">{{(item.valor_categoria | formatPrice) || 'Não definido'}}</span>
                    </div>
                </div>
                                 
            </div>
        </ng-container>
    
    </div>
</div>


<app-modal #modal_default [modalConfig]="modalConfig" (returnMessage)="this.openMenuGallery = false; this.modalConfig.canReturn = false;">

    <div modal-generic-content class="pt-3">

        <ng-container *ngIf="!openMenuGallery; else gallery">
             
        <form [formGroup]="resourceForm" (submit)="openModalEdit?  editAllAccount(): addResource()" >
            <div class="row">
                <div class="form-group mb-2">
                    <label class="f-16" for="nome">Nome da categoria<b> * </b></label>
                    <input type="text" class="form-control" id="nome" formControlName="nome" placeholder="Digite o nome da categoria">
                    <app-form-field-error [control]="resourceForm.get('nome')"></app-form-field-error>
                </div>

                <div class="form-group mb-2">
                    <label class="f-16" for="modelo_categoria">Modelo da categoria<b> * </b></label>
                    <select class="form-select f-16" formControlName="modelo_categoria" id="modelo_categoria">
                        <option value="" disabled [selected]="true">Selecione uma opção</option>
                        <option *ngFor="let item of modeloCategoria" [value]="item">{{item}}</option>
    
                    </select>                    
                    <app-form-field-error [control]="resourceForm.get('nome')"></app-form-field-error>
                </div>
    
                <div class="form-group mb-2 col-md-6 col-sm-12">
                    <label class="f-16" for="nome">Ícone da categoria<b> * </b></label>
                    <img class=" mx-3 button-cursor" src="./assets/icones_category/{{imageSelected}}"
                    alt="" (click)="openGallery()">
                </div>
        
    
                <div class="form-group mb-2">
                    <label class="f-16" for="tipo_categoria">Tipo da categoria <b> * </b></label>
                    <select class="form-select f-16" formControlName="tipo_categoria" id="tipo_categoria">
                        <option value="" disabled [selected]="true">Selecione fixa se os valores não mudam</option>
                        <option *ngFor="let item of tipoCategoria" [value]="item">{{item}}</option>
    
                    </select>
                    <app-form-field-error [control]="resourceForm.get('tipo_categoria')"></app-form-field-error>
                </div>

                <div *ngIf="resourceForm.get('modelo_categoria')?.value == 'Despesa'" class="form-group mb-2">
                    <label class="f-16" for="valor_categoria">Meta de gastos da categoria</label>
                    <input type="number" class="form-control" id="valor_categoria" formControlName="valor_categoria" placeholder="Meta de gastos">
                    <app-form-field-error [control]="resourceForm.get('tipo_categoria')"></app-form-field-error>
                </div>
            </div>


            <div class="d-flex justify-content-center">
              
                <button type="submit" [disabled]="this.resourceForm.invalid" class=" btn btn-green btn-block btn-lg f-16" >{{openModalEdit? 'Editar': 'Adicionar'}}</button>

            </div>
           
           
        </form>
    
        </ng-container>


        <ng-template #gallery>
            <div class="image-gallery">
                <div *ngFor="let icon of icons" class="icon-item">
                  <img  class="button-cursor" src="./assets/icones_category/{{icon.fileName}}" [alt]="icon.fileName"  (click)="selectedIcon(icon.fileName)"/>
                </div>
              </div>
        </ng-template>
        
       
    </div>
</app-modal>