

<div class="container-fluid p-5 style-font">
    <div class="d-flex justify-content-between">
        <h4>Contas</h4>

        <button type="button" class="btn btn btn-outline-success d-flex align-items-center text-center f-16 "
        (click)="openAddModal()">
            <i class="fa-solid fa-plus f-16 mx-2 "></i> Adicionar nova conta
        </button>

    </div>

    <div class="container mt-5 container-custom">

        <ng-container *ngFor="let item of resources; let i = index;"> 
            <div class="item">
                <div class="d-flex justify-content-between align-items-center">
                    <img class="icon" src="./assets/icons_user/{{item.nome_icone}}" (error)="item.nome_icone = '5_wallet.svg'" alt="">
                    <div class="color-black-1">{{item.nome}}</div>
                    <div class="btn-group">
                        <i class="menu-icon fa-solid fa-ellipsis-vertical button-cursor"  data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
                        <div class="dropdown-menu" id="dropdownMenu">
                            <a *ngIf="item.nome !== 'Carteira'"  class="dropdown-item button-cursor color-green-2" (click)="deleteResource(item.id_conta)"> <i class="fa-solid fa-trash"></i> Excluir</a>
                            <a class="dropdown-item button-cursor color-green-2" (click)="deactivateResource(item.ativo, item.id_conta)"> <i class="fa-regular fa-rectangle-xmark"></i>
                                 {{item.ativo ? 'Desativar': 'Ativar'}}</a>
                            <div *ngIf="item.nome !== 'Carteira'" class="dropdown-divider"></div>
                            <a *ngIf="item.nome !== 'Carteira'" class="dropdown-item button-cursor color-green-2" (click)="openEdit(item)" ><i class="fa-solid fa-pen-to-square" ></i> Editar</a>
                        </div>
                    </div>
                    
                </div>
                <div class="py-2 px-2">

                    <div class="height-content">
                        <div class="text-start color-black-1 pb-1">Status: &nbsp;
                            <span class="color-light-1">{{item.ativo ? 'Ativa' : 'Desativada'}}</span>
                        </div>
                        <div class="text-start color-black-1 pb-1">Tipo de conta: &nbsp;
                            <span class="color-light-1">{{item.tipo_conta}}</span>
                        </div>
                       
                        <div class="text-start color-black-1 pb-1 descricao-container">
                            <span class="mr-1">Descrição:</span>
                            <span class="color-light-1">
                                {{item.descricao || 'Sem descrição.'}}
                            </span>
                        </div>
                        <div class="text-start color-black-1 pb-1">Saldo da conta:  &nbsp;
                            <span   [ngClass]="item.gastos_totais && item.gastos_totais < 0 ? 'text-danger' : 'text-success'"> <strong>R$ {{item.gastos_totais || 0 | formatPrice}}</strong></span>

                            
                        </div>
                    </div>
                    


                    <div class="d-flex justify-content-end ">
                        <button type="button" class="btn btn-outline-secondary">Visualizar</button>
                    </div>
                    
                    
                    

            
                   

                </div>
              
            </div>
        </ng-container>
    
    </div>
</div>


<app-modal #modal_default [modalConfig]="modalConfig" (returnMessage)="this.openMenuGallery = false;">

    <div modal-generic-content class="pt-3">

        <ng-container *ngIf="!openMenuGallery; else gallery">
             
        <form [formGroup]="resourceForm" (submit)="openModalEdit?  editAllAccount(): addResource()" >
            <div class="row">
                <div class="form-group mb-3">
                    <label for="nome">Nome da conta<b> * </b></label>
                    <input type="text" class="form-control" id="nome" formControlName="nome" placeholder="Digite o nome da conta">
                    <app-form-field-error [control]="resourceForm.get('nome')"></app-form-field-error>
                </div>
    
                <div class="form-group mb-3 col-md-6 col-sm-12">
                    <label for="nome">Ícone da conta<b> * </b></label>
                    <img class="icon mx-3 button-cursor" src="./assets/icons_user/{{imageSelected}}"
                    alt="" (click)="openGallery()">
                </div>
                <div class="form-group mb-3 col-md-6 col-sm-12">
                    <label for="nome">Tipo de conta<b> * </b></label>
                    <select class="form-select" formControlName="tipo_conta" id="tipo_conta">
                        <option value="" disabled [selected]="true">Selecione uma opção</option>
                        <option *ngFor="let item of tipoConta" [value]="item">{{item}}</option>
    
                    </select>
                    <app-form-field-error [control]="resourceForm.get('tipo_conta')"></app-form-field-error>
                </div>
    
                
                
    
                <div class="form-group mb-3">
                    <label for="descricao">Descrição</label>
                    <textarea class="form-control" id="descricao" formControlName="descricao" placeholder="Digite a descrição da conta" rows="2"></textarea>
                    <app-form-field-error [control]="resourceForm.get('descricao')"></app-form-field-error>
                </div>
            </div>


            <div class="d-flex justify-content-center">
              
                <button type="submit" [disabled]="this.resourceForm.invalid" class=" btn btn-green btn-block btn-lg" >{{openModalEdit? 'Editar': 'Adicionar'}}</button>

            </div>
           
           
        </form>
    
        </ng-container>


        <ng-template #gallery>
            <div class="image-gallery">
                <div *ngFor="let icon of images" class="icon-item">
                  <img  class="icon button-cursor" src="./assets/icons_user/{{icon.fileName}}" [alt]="icon.displayName"  (click)="selectedIcon(icon.fileName)"/>
                  <p>{{ icon.displayName }}</p>
                </div>
              </div>
        </ng-template>
        
       
    </div>
</app-modal>