<div class="container-fluid p-5 style-font">
    <div class="d-flex justify-content-between">
        <h4>Cartões de Crédito</h4>

        <button type="button" class="btn btn btn-outline-success d-flex align-items-center text-center f-16 "
        (click)="openAddModal()">
            <i class="fa-solid fa-plus f-16 mx-2 "></i> 
            <span class="display-none">Adicionar novo cartão</span>
        </button>

    </div>

    <div class="container mt-5 container-custom">

        <ng-container *ngFor="let item of resources; let i = index;"> 
            <div class="item">
                <div class="d-flex justify-content-between align-items-center">
                    <img class="icon" src="./assets/icons_user/{{item.nome_icone}}" (error)="item.nome_icone = '5_wallet.svg'" alt="">
                    <div class="color-black-1 f-16">{{item.nome}}</div>
                    <div class="btn-group f-16">
                        <i class="menu-icon fa-solid fa-ellipsis-vertical button-cursor"  data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
                        <div class="dropdown-menu" id="dropdownMenu">
                            <a *ngIf="item.nome !== 'Carteira'"  class="dropdown-item button-cursor color-green-2" (click)="deleteResource(item.id_cartao_credito)"> <i class="fa-solid fa-trash"></i> Excluir</a>
                            <a class="dropdown-item button-cursor color-green-2" (click)="deactivateResource(item.ativo, item.id_cartao_credito)"> <i class="fa-regular fa-rectangle-xmark"></i>
                                 {{item.ativo ? 'Desativar': 'Ativar'}}</a>
                            <div *ngIf="item.nome !== 'Carteira'" class="dropdown-divider"></div>
                            <a *ngIf="item.nome !== 'Carteira'" class="dropdown-item button-cursor color-green-2" (click)="openEdit(item)" ><i class="fa-solid fa-pen-to-square" ></i> Editar</a>
                        </div>
                    </div>
                    
                </div>
                <div class="py-2 px-2">

                    <div class="height-content f-16">
                        <div class="text-start color-black-1 pb-1 ">Status: &nbsp;
                            <span class="color-light-1">{{item.ativo ? 'Ativo' : 'Desativado'}}</span>
                        </div>
                        <div class="text-start color-black-1 pb-1">Limite Total: &nbsp;
                            <span class="color-light-1"> R$ {{item.limite | formatPrice}}</span>
                        </div>
                        
                        <div class="text-start color-black-1 pb-1">Limite  Disponível:  &nbsp;
                            <span  class="color-light-1">R$ {{item.limite_disponivel || 0| formatPrice}}</span>
                        </div>

                        <div class="text-start color-black-1 pb-1">Fatura atual:  &nbsp;
                            <span  class="color-light-1"> <strong>R$ {{item.fatura_gastos || 0 | formatPrice}}</strong></span>
                        </div>
                    </div>
                    <div class="d-flex justify-content-end ">
                        <button type="button" class="btn btn-outline-secondary f-16"  [routerLink]="['fatura-e-movimentacoes-do-cartao/', item.id_cartao_credito]" >Ver movimentações</button>
                    </div>
                </div>
            </div>
        </ng-container>
    
    </div>
</div>


<app-modal #modal_default [modalConfig]="modalConfig" (returnMessage)="this.openMenuGallery = false; this.modalConfig.canReturn = false;">

    <div modal-generic-content class="pt-3">

        <ng-container *ngIf="!openMenuGallery; else gallery">
             
        <form [formGroup]="resourceForm" (submit)="openModalEdit?  editAllAccount(): addResource()" >
            <div class="row">
                <div class="form-group mb-2 f-16">
                    <label for="nome">Nome do cartão de crédito<b> * </b></label>
                    <input type="text" class="form-control" id="nome" formControlName="nome" placeholder="Digite o nome do cartão">
                    <app-form-field-error [control]="resourceForm.get('nome')"></app-form-field-error>
                </div>
    
                <div class="form-group mb-2 col-md-6 col-sm-12 f-16">
                    <label for="nome">Ícone do cartão de crédito<b> * </b></label>
                    <img class="icon mx-3 button-cursor" src="./assets/icons_user/{{imageSelected}}"
                    alt="" (click)="openGallery()">
                </div>
        
    
                <div class="form-group mb-2 f-16">
                    <label for="limite">Limite <b> * </b></label>
                    <input type="number" class="form-control" id="limite" formControlName="limite" placeholder="Digite o limite do cartão">
                    <app-form-field-error [control]="resourceForm.get('limite')"></app-form-field-error>
                </div>

                <div class="form-group mb-2 f-16">
                    <label for="dia_fechamento">Dia de Fechamento <b> * </b></label>
                    <input type="number" class="form-control" id="dia_fechamento" formControlName="dia_fechamento">
                    <app-form-field-error [control]="resourceForm.get('dia_fechamento')"></app-form-field-error>
                </div>

                <div class="form-group mb-2 f-16">
                    <label for="dia_vencimento">Dia de Vencimento <b> * </b></label>
                    <input type="number" class="form-control" id="dia_vencimento" formControlName="dia_vencimento">
                    <app-form-field-error [control]="resourceForm.get('dia_vencimento')"></app-form-field-error>
                </div>
            </div>

            <div class="d-flex justify-content-center">
              
                <button type="submit" [disabled]="this.resourceForm.invalid" class=" btn btn-green btn-block btn-lg f-16" >{{openModalEdit? 'Editar': 'Adicionar'}}</button>

            </div>
           
        </form>
    
        </ng-container>


        <ng-template #gallery>
            <div class="image-gallery">
                <div *ngFor="let icon of images" class="icon-item">
                  <img  class="icon button-cursor" src="./assets/icons_user/{{icon.fileName}}" [alt]="icon.displayName"  (click)="selectedIcon(icon.fileName)"/>
                  <p>{{ icon.displayName }}</p>
                </div>
              </div>
        </ng-template>
        
       
    </div>
</app-modal>
