

<div class="container">
    <div class="row d-flex justify-content-center align-items-center h-100 ">
        <div class="col-md-6 mx-auto">
        <div class="card">
            <div class="card-body p-5">
            <h2 class="card-title text-center">Cadastro</h2>
            <form [formGroup]="resourceForm" (submit)="submitForm()">
                <div class="form-group mb-2">
                    <label for="nome">Nome<b> * </b></label>
                    <input type="text" class="form-control" id="nome" formControlName="nome_completo" placeholder="Digite seu nome">
                    <app-form-field-error [control]="resourceForm.get('nome_completo')"></app-form-field-error>
                </div>
   
                <div class="form-group mb-2">
                    <label for="date">Data de Nascimento<b> * </b></label>
                    <input type="date" class="form-control" id="date" formControlName="data_nascimento">
                    <app-form-field-error [control]="resourceForm.get('data_nascimento')">
                        <span *ngIf="resourceForm.get('data_nascimento')?.invalid && resourceForm.get('data_nascimento')?.touched">. A data é inválida
                        </span>
                    </app-form-field-error>

                </div>
                <div class="form-group mb-2">
                    <label for="email">Email<b> * </b></label>
                    <input type="email" class="form-control" id="email" formControlName="email" placeholder="Digite seu email"
                    ng-reflect-name="email" autocomplete="username">
                    <app-form-field-error [control]="resourceForm.get('email')"></app-form-field-error>

                </div>
                <div class="form-group mb-2">
                    <label for="senha">Senha<b> * </b></label>
                    <div class="password-wrapper">
                        <input [type]="showPassword ? 'text' : 'password'" 
                                class="form-control pr-5" 
                                id="senha" 
                                formControlName="senha" 
                                placeholder="Digite sua senha" 
                                ng-reflect-name="senha" 
                                autocomplete="current-password">
                        <button type="button" class="btn-eye position-absolute" (click)="togglePasswordVisibility('password')">
                            <i class="fa" [ngClass]="showPassword ? 'fa-eye' : 'fa-eye-slash'"></i>
                        </button>
                    </div>
                        <app-form-field-error [control]="resourceForm.get('senha')"></app-form-field-error>
                </div>
                <div class="form-group mb-2 position-relative">
                    <label for="confirmPassword">Confirme a Senha<b> * </b></label>
                    <div class="password-wrapper">
                    <input [type]="showConfirmPassword ? 'text' : 'password'" 
                           class="form-control pr-5" 
                           id="confirmPassword" 
                           formControlName="confirmPassword" 
                           placeholder="Confirme sua nova senha">
                    <button type="button" class="btn-eye position-absolute" (click)="togglePasswordVisibility('confirmPassword')">
                        <i class="fa" [ngClass]="showConfirmPassword ? 'fa-eye' : 'fa-eye-slash'"></i>
                    </button>
                    </div>
                    <p *ngIf="checkPassword()" class="text-danger">
                        As senhas não coincidem
                    </p>
                    <app-form-field-error [control]="resourceForm.get('confirmPassword')"></app-form-field-error>
                </div>
                <div class="d-flex justify-content-center">
                    <button type="submit" [disabled]="resourceForm.invalid || resourceForm.get('senha')?.value !== resourceForm.get('confirmPassword')?.value" class=" btn btn-green btn-block btn-lg" >Cadastrar</button>
    
                </div>
            </form>
            </div>
        </div>
        </div>
    </div>
</div>

