
/* Custom Theming for Angular Material
For more information: https://material.angular.io/guide/theming
*/
@use '@angular/material' as mat;
/* 
Plus imports for other components in your app.

Include the common styles for Angular Material. We include this here so that you only
have to load a single css file for Angular Material in your app.
Be sure that you only ever include this mixin once!
*/
@include mat.core();

/* Define the palettes for your theme using the Material Design palettes available in palette.scss
 (imported above). For each palette, you can optionally specify a default, lighter, and darker
hue. Available color palettes: https://material.io/design/color/
*/
$financas-primary: mat.define-palette(mat.$indigo-palette);
$financas-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

/*  The warn palette is optional (defaults to red). */
$financas-warn: mat.define-palette(mat.$red-palette);

/* Create the theme object. A theme consists of configurations for individual theming systems such as "color" or "typography".
*/
$financas-theme: mat.define-light-theme((
  color: (
    primary: $financas-primary,
    accent: $financas-accent,
    warn: $financas-warn,
  )
));

/* Include theme styles for core and each component used in your app.
   Alternatively, you can import and @include the theme mixins for each component
    that you are using.
*/
@include mat.all-component-themes($financas-theme);

/* You can add global styles to this file, and also import other style files */
@import 'src/app/theme/_variables.scss';
@import 'src/app/theme/_font-and-colors.scss';


b{
    color: red
}

.h-100{
    min-height: 91vh;
}

.full-screen{
  min-height: 91vh;
}

.full-screen-login{
  min-height: 91vh;
  min-width: 100vw;
}






.button-cursor{
  cursor: pointer;
}

@mixin button-green{
  background-color: $color-green-5;
  border: solid $color-green-5;
  color: $color-black-1;
}


.btn-green{
  width: 200px;
  @include button-green();
}

.btn-outline-success{
  color: $color-green-2;
  border-color: $color-green-2;
}

.btn-outline-success:hover{
  background-color: $color-green-2;
  color: white;
  border-color: $color-green-2;
}




html, body {
  height: 100%; 
}

body { 
  margin: 0;
  font-family:"OpenSans", sans-serif;
}




.form-control:focus
{
    box-shadow: 0 0 0 0.05rem $color-green-5 ;
    border-color:$color-green-5 ;
}


@media  screen and (max-width: 801px) {
  .p-5{
    padding: 1rem !important;
  }

  .m-5{
    margin: 1rem !important;
  }
  .me-5{
    margin: 1rem !important;

  }

  .ms-5{
    margin: 1rem !important;

  }

  .mx-5{
    margin: 1rem !important;

  }
}



.modal-content {
  border-radius: 20px  !important;
}


@media (max-width: 801px) {
  .display-none {
    display: none;
  }

  .icon-min{
    width: 25px !important;
    height: 25px !important;
  }
  .margin-l-min{
    margin-left: 5px;
  }

}

@media (min-width: 802px) {
  .display-none-desktop {
    display: none;
  }


}
