@import 'src/styles.scss';

.btn-transation{
    background-color: white  !important;
    border: 1px solid $color-light-2;
    box-shadow: 0px 0px 15px 4px $color-light-2;
    border-radius: 20px;
    padding: 10px;

}

.btn-transation.expense{
    color: $color-red;
}

.btn-transation.income{
    background-color: $color-green-6;
    color: $color-green-6;
}

.btn-transation.transfer{
    color: gray;

}

.icon-size{
    font-size: 25px;

}





a{
    color: $color-green-3;
}