<div class="container-fluid p-5 style-font">
    <div class="d-flex flex-wrap justify-content-between align-items-center">

        <div>
            <h4>Movimentações</h4>
        </div>


        <ng-container *ngIf="isMobile">
            <button type="button" 
                class=" btn btn btn-outline-success d-flex align-items-center text-center f-16 me-1"
                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa-solid fa-plus f-16 mx-2 "></i>
                </button>

                <div class="dropdown-menu f-16" id="dropdownMenu">
                    <div class="dropdown-item button-cursor color-green-2" 
                    (click)="openIncome()"
                    tabindex="0" 
                    (keyup)="onKeyDownOpenIncome($event)"
                    >Receita</div>
                    <div class="dropdown-item button-cursor color-green-2" 
                    (click)="openExpense()"
                    tabindex="0" 
                    (keyup)="onKeyDownOpenExpense($event)">Despesa</div>
                    <div class="dropdown-item button-cursor color-green-2" 
                    (click)="openTransfer()"
                    tabindex="0" 
                    (keyup)="onKeyDownOpenTransfer($event)">Transferência</div>

                </div>
        </ng-container>
                
        


        <div *ngIf="!isMobile" class=" d-flex flex-wrap justify-content-center display-none">
            <button type="button" class="display-none btn btn-transation income my-2 ms-0 me-2 button-cursor" 
            (click)="openIncome()"
            tabindex="0" 
            (keyup)="onKeyDownOpenIncome($event)">
                <i class="fa-solid fa-arrow-trend-up icon-size"></i>
                <br class="display-none">
                <span class="display-none"> Receita</span>
            </button>
    
            <button type="button" class="display-none btn btn-transation expense m-2 button-cursor" 
            (click)="openExpense()"
            tabindex="0" 
            (keyup)="onKeyDownOpenExpense($event)">
                <i class="fa-solid fa-arrow-trend-down icon-size" ></i>

                <br class="display-none">
                <span class="display-none "> Despesa</span>
            </button>
    
    
            <button type="button" class="display-none btn btn-transation transfer m-2 button-cursor" 
            (click)="openTransfer()"
            tabindex="0" 
            (keyup)="onKeyDownOpenTransfer($event)">
                <i class="fa-solid fa-shuffle icon-size" ></i> 
                <br class="display-none">
                <span class="display-none"> Transf.</span>
            </button>

        </div>

        

    </div>

    <app-transaction-list [type]="'transation'"></app-transaction-list>


</div>


<app-modal #modal_default [modalConfig]="modalConfig" >

    <div modal-generic-content class="pt-3">

        <!-- Transferencia -->
        <app-transaction-form
        [resourceFormTransfer]="resourceFormTransfer"
        [resourceFormIncomeExpense]="resourceFormIncomeExpense"
        [openModalTransfer]="openModalTransfer"
        [openModalIncome]="openModalIncome"
        [openModalExpense]="openModalExpense"
        [selectedCategoryName]="selectedCategoryName"
        [selectedCategoryIcon]="selectedCategoryIcon"
        [selectedPaymentName]="selectedPaymentName"
        [selectedPaymentIcon]="selectedPaymentIcon"
        [selectedAccontCurrentName]="selectedAccontCurrentName"
        [selectedAccontTransferName]="selectedAccontTransferName"
        [selectedAccontTransferIcon]="selectedAccontTransferIcon"
        [account]="account"
        [member]="member"
        [nameUser]="nameUser"
        [categoryIncome]="categoryIncome"
        [categoryExpense]="categoryExpense"
        [creditCard]="creditCard"
        [accountDebito]="accountDebito"
        [accountDinheiro]="accountDinheiro"
        [quantityMember]="quantityMember"
        >
        </app-transaction-form>
       
    </div>
</app-modal>
