<div class="container-fluid p-5 style-font">
    <div class="d-flex flex-wrap justify-content-between align-items-center">

        <div>
            <h4>Movimentações</h4>
        </div>

        <div class="d-flex flex-wrap justify-content-center">
            <button type="button" class="btn btn-transation income my-2 ms-0 me-2">
                <i class="fa-solid fa-arrow-trend-up icon-size"></i>
                <br class="display-none">
                <span class="display-none"> Receita</span>
            </button>
    
            <button type="button" class="btn btn-transation expense m-2"  style="background-color: #DC3545;">
                <i class="fa-solid fa-arrow-trend-down icon-size" ></i>

                <br class="display-none">
                <span class="display-none "> Despesa</span>
            </button>
    
    
            <button type="button" class="btn btn-transation transfer m-2">
                <i class="fa-solid fa-shuffle icon-size" ></i> 
                <br>
                <span class="display-none"> Transf.</span>
            </button>

        </div>

        

    </div>

    <app-transaction-list [type]="'transation'"></app-transaction-list>


</div>
