@import 'src/styles.scss';

@import 'src/app/theme/_card-theme.scss';

.month-year{
    color: $color-green-2;
    font-weight: 700;
}


.btn-transation{
    // color: white;
    background-color: white  !important;
    border: 1px solid $color-light-2;
    box-shadow: 0px 0px 15px 4px $color-light-2;
    border-radius: 20px;

}

.btn-transation.expense{
    // background-color: $color-red;
    color: $color-red;
}

.btn-transation.income{
    background-color: $color-green-6;
    color: $color-green-6;
}

.btn-transation.transfer{
    // background-color: gray;
    color: gray;

}

.icon-size{
    font-size: 25px;

}




.item {



    // flex: 1 1 900px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0px 0px 15px 4px rgba(0, 0, 0, 0.1);
    padding: 15px;
    text-align: center;
    width: 950px;


    @media  screen and (max-width: 1024px) {
        max-width: 800px;

    }

    @media  screen and (max-width: 801px) {
        width: 500px;
        max-width: 500px;

    }

    @media  screen and (max-width: 425px) {
        width: 250px;
        max-width: 250px;

    }

    max-width: 950px;


     



}


.container-custom{
    display: flex;
    justify-content: center;
}