@import 'src/styles.scss';

h1 {
    padding: 0 1rem;
}

h2 {padding: 1rem;}

mat-toolbar{
    position:fixed;
    top:0;
    z-index: 2;
}

mat-sidenav-container {
    height:100%;
}

// Move the content down so that it won't be hidden by the toolbar
mat-sidenav {
    padding-top: 3.5rem;
    @media screen and (min-width: 600px) {
      padding-top: 4rem;
    }

    .entry{
        display: flex;
        align-items: center;
        gap: 1rem;
        padding:0.75rem;
    }
  }

// Move the content down so that it won't be hidden by the toolbar
mat-sidenav-content{
    padding-top: 3.5rem;
    @media screen and (min-width: 600px) {
        padding-top: 4rem;
    }
}

.expanded {
    width: max-content;   
}


.min-width-screen-login-collapse{
    min-width: 95vw !important;

    @media screen and (max-width: 1025px ) {
        min-width: 100vw !important;
    }

    @media screen and (min-width: 2000px) {
        min-width: 97vw !important;
    }
}

.min-width-screen{
    min-width: 85vw !important;
    @media screen and (max-width: 1441px) {
        min-width: 80vw !important;
    }

    @media screen and (max-width: 1025px) {
        min-width: 100vw !important;
    }

    
    @media screen and (min-width: 2000px) {
        min-width: 90vw !important;
    }
}